body {
	background-color: white;
}

h1 {
	font-weight: 500;
	font-size:50px;
}

.name {
	padding: 2.5rem;
}

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	column-gap: 1.25rem;
	row-gap: 1.25rem;
}

.Card {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 1.5rem;
	column-gap: 1.25rem;
	width: 30rem;
	height: 35rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem;
}

.profile-img {
	border-radius: 50%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}